.App {
  
}

.home {
  height: 70vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.fs-7 {
  font-size: 0.85rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.fs-9 {
  font-size: 0.65rem !important;
}

.fs-8 {
  font-size: 0.75rem !important;
}

.bg-color-primary {
  background-color: #B7A97E !important;
}

.bg-color-secondary {
  background-color: #EEF3F4;
}

.bg-color-light {
  background-color: #C4D6D9 !important;
}

.bg-color-light2 {
  background-color: #D2DBE0 !important;
}

.bg-color-lightGray {
  background-color: #F5F5F5 !important;
}

.border-color-primary {
  border-color: #B7A97E !important;
}

.border-gray {
  border: 1.5px solid #c5bebe !important
}

.top-border {
  height: 5px;
  width: 100%;
  background-color: #B7A97E;
}

.bottom-border {
  height: 3px;
  width: 100%;
  background-color: #B7A97E;
}

.text-green {
  color: #2B686F !important;
}

.bg-green {
  background-color: #2B686F !important;
}

.text-white {
  color: white
}

.text-black {
  color: black
}

.w-100 {
  width: 100%;
}

.flex-unset {
  flex: unset !important;
}

.width-unset {
  width: unset !important;
}

.divider {
  width: 100%;
  height: 1.5px;
  background-color: #2B686F !important;
}

.divider-white {
  width: 100% !important;
  height: 10px;
  background-color: white;
}

.cursor-pointer {
  cursor: pointer;
}

.-mt-4 {
  margin-top: -1.5rem !important;
}

.pb-2-5 {
  padding-bottom: 0.6rem !important;
}

.loading-div {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}